extends layout

block content
    h1 #{title}
    form(method='POST', action='/users/login/')
        #form-group
            label username
            input.form-control(name='username', type='text')
        #form-group
            label password
            input.form-control(name='password', type='password')


        br
        input.btn.btn-primary(type='submit', value='submit')